// Alerts

@mixin alert-base($background, $text-color) {
  background-color: $background !important; 
  color: $text-color;
  border-radius: $alert-border-radius;
  font-family: $alert-font-family;
  padding: $alert-padding;
  margin: $alert-margin;
}

.alertError {
   @include alert-base($BgColorError, $white-base);
}

.alertInfo{
  @include alert-base($BgColorInfo, $white-base);
}

.alertSuccess{
  @include alert-base($BgColorSuccess, $white-base);
}

.alertWarning{
  @include alert-base($BgColorWarning, $white-base);
}
