.breadcrumb{
  width: auto;
  background-color: $breadcrumb-bg-color;
  list-style-type:none;

  li{
  display: inline-block;
  padding: $breadcrumb-li-padding;

    a>span:first-child{
      padding: 20px 20px 20px 0px;
    }

    &:after{
          content: " > ";
    }

    a{
      text-decoration: none;
      color: $white-base;
    }

    &.end:after{
        content:none;
    }
  }

  @media screen and (max-width: 1024px) {
    margin: 20px;
    border-radius: 20px;
    background-color: lighten($breadcrumb-bg-color, 10%);
    font-weight: bold;

    li{
      padding: 10px 0px 10px 0px;
      a>span{
        margin: 10px;
      }

      a>span:first-child{
        padding: 10px 0px 10px 0px;
      }

      a>span:last-child{
        display: none;
      }
    }
  }
}
