

@mixin btn_base{

  color: $gray-dark;
  background-color: $white-base;
  border: $btn-base-border;
  border-color: $gray-dark;
  display: inline-block;
  text-align: center;
  border-radius: $btn-base-border-radius;
  padding: $btn-base-padding;
  cursor: pointer;
  font-size: $btn-base-font-size;

  }

.btn{
    @include btn_base;

    &:hover{
        color: $btn-color;
        background-color: $btn-bg-color;
        border-color: $btn-border-color;
    }

    &:visited {
    background-color: $black-base;
    color: $white-base; }
}


.large-btn {
    @extend .btn;
    height: $btn-large-height;
    font-size: $btn-large-font-size;
    padding: $btn-large-padding;
    line-height: $btn-large-line-height;
    width: auto;
}

.small-btn {
    @extend .btn;
    height: $btn-small-height;
    padding: $btn-small-padding;
    line-height: $btn-small-line-height;
    font-size: $btn-small-font-size;
    width: auto;
}

.btn-green {

  @include btn_base;
  border-color: $green-darker;
  background-color: $green-base;
  color: $white-base;

  &:hover { background-color: $green-dark; }

  &:visited {
    background-color: $black-base;
    color: $white-base; }
}

.btn-red {
  @include btn_base;
  border-color: $red-darker;
  background-color: $red-base;
  color: $white-base;

  &:hover {
    background-color: $red-darker; }

  &:visited {
    background-color: $black-base;
    color: $white-base; }

}

.btn-dark {
  @include btn_base;
  background-color: $black-base;
  color: $white-base;

  &:hover {
    background-color: $gray-dark; }

  &:visited {
    background-color: $gray-lighter;
    color: $white-base; }
}

.btn-flat {
  border: none;
  border-radius: $btn-flat-radius;
}

.btn-xl { width: 100%; }

.btn-fancy {
  background-image: $btn-fancy-bg-image;
  box-shadow: $btn-fancy-box-shadow;
}

.btn-fancy:active { box-shadow: $btn-fancy-active-box-shadow; }

.btn-fancy:hover { background-image: $btn-fancy-active-bg-image; }
