.header{
  padding: $padding-header;

  h1{
      font-size: $h1-font-size;
      text-decoration: underline;
      color: $black-base;
  }

  p{
      text-transform: capitalize;
      font-family: $font-family-sans-serif;
  }
}

.jumbotron {
  padding:          $jumbotron-padding;
  margin:           $jumbotron-margin;
  color:            $jumbotron-color;
  background-color: $jumbotron-bg;

  h1{
    color:          $jumbotron-heading-color;
  }

  p {
    margin-bottom:  $paragraph-margin;
    font-size:      $size-jumbotron-paragraph;
  }
}
