.navbar{
  width: auto;
    list-style-type: none;
    background-color: $navbar-bg-color;

  li {
    display: inline-block;
    padding: $navbar-li-a-padding;

      a {
          color: $white-base;
          text-align: center;
          text-decoration: none;
      }

  &:hover {
      background-color: $navbar-hover-color;
  }

}
   .disabled {
         pointer-events: none;
         cursor: default;
         opacity: $navbar-disabled-opacity;
     }

   .active{
      background-color: $gray-darker;
  }


    @media screen and (max-width: 1024px) {

      padding: 0;
      margin: 0;

      li{
        display: block;
        text-align:center;
        text-transform: uppercase;
      }

    }

}
