.pagination{
    list-style: none;
    text-align: center;

        li {
          display: inline-block;
          > a,
          > span {
            text-decoration: none;
            display: inline-block;
            padding: $pager-padding;
            background-color: $pager-color;
            border: 1px solid $black-base;
            color : $black-base;
            border-radius: 2px;
          }

          > a:hover{
            background-color: $pager-color-hover;
          }
        }

     .active {
      > a,
      > span {
        color: $gray-lighter;
        background-color: $gray-light;
      }
    }

     .disabled {
      > a,
      > span {
        pointer-events: none;
        cursor: default;
        opacity: $navbar-disabled-opacity;
      }
    }

    @media screen and (max-width: 1024px) {
      li{
        >a,
        >span{
          display: inline-block;
          margin: -0.17em;
          padding: 5px;
        }
      }
    }
}
