.basic_table{

    table, th, td {
        border: $table-border;
        border-color: $black-base;
    }

    th{
        padding: $th-padding;
        text-align: $th-text-align;
    }

    td{
        padding: $td-padding;
    }

    table {
        border-spacing: $table-border-spacing;
    }

    tbody, thead, tfoot{
      vertical-align: $table-vertical-align;
      border-color: $table-border-color;
    }

    tbody { display: $tbody-display; }
    thead { display: $thead-display; }
    tfoot { display: $tfoot-display; }

}

.advanced-table{

    @extend .basic_table;

    tbody > tr > td:hover,
    tbody > tr > th:hover,
    tbody > tr:hover > td,
    tbody > tr:hover > th{
      background-color: $gray-lighter;
    }

    tbody tr:nth-child(odd){
      background-color: $gray-lighter;
  }

}
