h1, h2, h3, h4, h5, h6{
    font-family: $font-family-heading;
    color: $heading-color;
    margin: $margin-heading;

      small, .small{
          font-size: $small-font-size;
          color: $heading-small-color;
      }
}

h1{ font-size: $h1-font-size; }
h2{ font-size: $h2-font-size; }
h3{ font-size: $h3-font-size; }
h4{ font-size: $h4-font-size; }
h5{ font-size: $h5-font-size; }
h6{ font-size: $h6-font-size; }

body{
  font-size: 100%;
  font-family: $body-font-family;

  p{
    margin-bottom: $paragraph-margin;
  }
}

mark {
   background-color: $yellow-base;
   color: $black-base;
   font-weight: bold;
}

del {
   text-decoration: line-through;
}

ins, u{
    text-decoration: underline;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

blockquote {
  background: $gray-lighter;
  border-left: $bloquote-border-left;
  border-color: $gray-lighter;
  margin: $blockquote-margin;
  padding: $blockquote-padding;
}

code{
    font-family: $code-font-family;
}

kbd{
    font-family: $kbd-font-family;
}

pre{
  display: block;
  font-family: $pre-font-family;
  white-space: pre;
  margin: $pre-margin;
}

ul{
  list-style-type: disc;
  display: block;
  margin-top: $ul-margin-top;
  margin-bottom: $ul-margin-bottom;
  margin-left: $ul-margin-left;
  margin-right: $ul-margin-right;
  padding-left: $ul-padding-left;
}

ul.square{
  list-style-type: square;
}

ul.no_list{
  list-style-type: none;
}

li{
   display: list-item;
}

.Maj{
  text-transform: capitalize;
}

.Min{
  text-transform: lowercase;
}

.text-right   {  text-align: right; }
.text-left    {  text-align: left; }
.text-center  {  text-align: center; }
.text-justify {  text-align: justify; }
