// colors

$black-base:                    #000 !default;
$white-base:                    #FFFFFF !default;

$BgColorError :                 #f44336 !default;
$BgColorInfo :                  #2196F3 !default;
$BgColorSuccess :               #4CAF50 !default;
$BgColorWarning :               #FF8C00 !default;

$gray-light:                    lighten($black-base, 40%) !default;
$gray-lighter:                  lighten($black-base, 90%) !default;
$gray-dark:                     lighten($black-base, 20%) !default;
$gray-darker:                   lighten($black-base, 15%) !default;
$pager-color:                   lighten($black-base, 80%) !default;
$pager-color-hover:             $gray-lighter !default;

$btn-color:                     #373a3c !default;
$btn-bg-color:                  $gray-lighter !default;
$btn-border-color:              #adadad !default;

$yellow-base:                   #ffff00 !default;
$green-base:                    #008000 !default;
$green-light:                   lighten($green-base, 5%) !default;
$green-lighter:                 lighten($green-base, 20%) !default;
$green-dark:                    darken($green-base, 5%) !default;
$green-darker:                  darken($green-base, 15%) !default;

$red-base:                      #FF0000 !default;
$red-light:                     lighten($red-base, 5%) !default;
$red-lighter:                   lighten($red-base, 10%) !default;
$red-dark:                      darken($red-base, 5%) !default;
$red-darker:                    darken($red-base, 15%) !default;

$heading-color:                 #000 !default;
$heading-small-color:           $gray-light !default;
$breadcrumb-bg-color:           $gray-light !default;
$navbar-bg-color:               $gray-dark !default;
$navbar-hover-color:            $gray-darker !default;
$navbar-active-bg-color:        $gray-darker !default;

$small-radius:                  5px !default;

$font-family-monospace:         Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-sans-serif:        Arial, Verdana, sans-serif !default;
$font-family-heading:           $font-family-sans-serif !default;

$alert-border-radius:           $small-radius !default;
$alert-font-family:             $font-family-sans-serif !default;
$alert-padding:                 20px !default;
$alert-margin:                  10px 10px 25px 10px !default;

$body-font-family:              $font-family-sans-serif !default;
$blockquote-margin:             1.5em 10px !default;
$blockquote-padding:            0.5em 10px !default;
$bloquote-border-left:          10px solid !default;
$btn-base-border:               1px solid !default;
$btn-base-border-radius:        .25rem !default;
$btn-base-padding:              5px !default;
$btn-base-font-size:            15px !default;
$btn-large-height:              50px !default;
$btn-large-font-size:           18px !default;
$btn-large-padding:             5px 15px !default;
$btn-large-line-height:         1.5 !default;
$btn-small-height:              $btn-large-height/2 !default;
$btn-small-font-size:           $btn-large-font-size/1.5 !default;
$btn-small-padding:             2px !default;
$btn-small-line-height:         $btn-large-line-height/2 !default;
$btn-flat-radius:               0 !default;
$btn-fancy-bg-image:            linear-gradient($white-base, $red-base) !default;
$btn-fancy-box-shadow:          0px 5px 0px $gray-lighter !default;
$btn-fancy-active-box-shadow:   0px 2px 0px $gray-light !default;
$btn-fancy-active-bg-image:     linear-gradient($red-base, $white-base) !default;

$code-font-family:              $font-family-monospace !default;

$h1-font-size:                  36px !default;
$h2-font-size:                  30px !default;
$h3-font-size:                  24px !default;
$h4-font-size:                  18px !default;
$h5-font-size:                  14px !default;
$h6-font-size:                  12px !default;

$jumbotron-padding:             30px !default;
$jumbotron-margin:              30px !default;
$jumbotron-color:               inherit !default;
$jumbotron-bg:                  $gray-lighter !default;
$jumbotron-heading-color:       inherit !default;

$kbd-font-family:               $font-family-monospace !default;

$pre-font-family:               $font-family-monospace !default;

$small-font-size:               smaller !default;

$margin-heading:                10px 0 !default;
$paragraph-margin:              10px !default;

$pre-margin:                    1em 0 !default;

$table-border :                 1px solid !default;
$table-border-spacing:          5px !default;
$th-padding:                    15px !default;
$td-padding:                    15px !default;
$th-text-align:                 left !default;
$tbody-display:                 table-row-group !default;
$thead-display:                 table-header-group !default;
$tfoot-display:                 table-footer-group !default;
$table-vertical-align:          middle !default;
$table-border-color:            inherit !default;

$padding-header:                0.5em 0.6em !default;
$padding-jumbotron:             0.5em 0.6em !default;
$size-jumbotron-paragraph:      1.2em !default;
$padding-jumbotron-btn:         0.5em !default;

$navbar-disabled-opacity:       0.6 !default;

$navbar-margin:                 0 !default;
$navbar-padding:                0 !default;
$navbar-li-a-padding:           16px !default;

$breadcrumb-li-padding:         10px !default;
$pager-padding:                 5px 14px !default;
$pager-disabled-opacity:        0.6 !default;

$ul-margin-top:                 1em !default;
$ul-margin-bottom:              1em !default;
$ul-margin-left:                0 !default;
$ul-margin-right:               0 !default;
$ul-padding-left:               40px !default;
