.container-demo{
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 20px 0;
  padding: 0.01em 16px;
  box-sizing: inherit;

  > h1, > h2 {
    margin-bottom: 25px;
    margin-left: 20px;
    color: $gray-dark;
  }

  div{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 20px 0;
    background-color: #f1f1f1;
    padding: 5px 16px;
    box-sizing: inherit;
  }
}

.navbar-prsnl{
@extend .navbar;
  width:100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  opacity: 1;
}

.titre-centre{
  text-align: center;
}
